{
  "envs": [
    { "name": "devel", "endpoint": "http://localhost:65432" },
    { "name": "prod" , "endpoint": "http://localhost:65432"
      "favicon": "favicon_prod.png"
    }
  ],
  "runnableProjects": [
    "pj1", "pj2", "..."
  ],
  "digdagCommand": "/.../bin/digdag"
}
